
<section id="hero" style="background-color: rgba(193, 241, 234, 0);">
    
    <div class="" >
        
            <h2>Welcome</h2>
           

            <div>
                <img src="https://previews.123rf.com/images/nexusplexus/nexusplexus1212/nexusplexus121205627/17056576-illustration-with-medical-background-having-heart-beat-doctor-and-stethoscope.jpg">
            </div>

            <div>
                <h5>About the Hospital</h5>
                <p>The power of community to create health is far greater than any physician, clinic or hospital....</p>
            </div>
    </div>
</section>